/* ============== PDP CSS ================ */

/* Container for the main image and thumbnails */
.pdp-container-image {
  width: 413px;
  /* height: 503px; */
  overflow: hidden;
  margin: 0 auto;
}

/* Main image container */
.main-image-container {
  width: 413px;
  height: 413px;
  border-radius: 12px;
  overflow: hidden;
}

.show-ipad-pc {
  display: block;
}

.show-mobile {
  display: block;
}

@media (max-width: 640px) {
  .main-image-container {
    width: 100%;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-image-container img {
    width: 300px;
    height: 300px;
  }
  .thumbnail-container {
    max-width: 95vw;
  }
  .show-ipad-pc {
    display: none;
  }
  .show-mobile {
    display: block;
  }
}

@media (max-width: 768px) {
  .pdp-container-image {
    width: 100%;
    /* height: 503px; */
    overflow: hidden;
    margin: 0 0;
  }
}

/* Main product image styling */
.main-image {
  object-fit: contain;
  width: 430px;
  height: 430px;
}

/* Thumbnails container */
.thumbnail-container {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
}

/* Individual thumbnail styling */
.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
}

/* Thumbnail image styling */
.thumbnail-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Hide scroll bar for thumbnails */
.thumbnail-container::-webkit-scrollbar {
  display: none;
}

.pdp-container-flex {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .pdp-container-flex {
    flex-direction: column; /* 2 columns for tablet screens */
  }
}

.pdp-product-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.pdp-product-price {
  font-weight: 700;
  margin-top: .75rem;
  color: rgb(28 28 28/1);
  line-height: 38px;
  font-size: 1.875rem;
}

.pdp-product-percent-wrapper {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  margin-top: .75rem;
}

.pdp-product-percent {
  line-height: 18px;
  font-weight: bold;
  font-size: .75rem;
  /* color: rgb(230 67 37/1); */
  color: rgb(42, 155, 10);
}

.pdp-product-price-strikethrough {
  line-height: 18px;
  /* font-weight: 400; */
  font-size: .75rem;
  color: rgb(140 140 140/1);
  text-decoration-line: line-through;
  font-weight: bold;
}

.pdp-product-variant-container {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin-top: 1.25rem;

  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
  border-color: #e5e7eb;
  border-style: solid;
}

.pdp-product-variant-title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(66 66 66/1);
}

.pdp-product-variant-wrapper {
  gap: .75rem;
  display: flex;
  margin-top: .75rem;
  flex-wrap: wrap;
}

.pdp-product-variant-active {
  border: 1px solid rgb(30, 209, 51);
  background-color: rgb(247, 255, 240);
  color: rgb(30, 209, 51);
  line-height: 1.25rem;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  font-weight: 500;
  font-size: .75rem;
  text-align: center;
  border-radius: .5rem;
  cursor: pointer;
  transition-duration: .15s;
  transition-property: all;
  padding: .375rem 1rem;
  height: 2rem;
  font-weight: bold;
}

.pdp-product-variant-inactive {
  border: 1px solid rgb(191, 191, 191);
  background-color: rgb(255, 255, 255);
  color: rgb(191, 191, 191);
  line-height: 18px;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  font-weight: 500;
  font-size: .75rem;
  text-align: center;
  border-radius: .5rem;
  cursor: pointer;
  transition-duration: .15s;
  transition-property: all;
  padding: .375rem 1rem;
  height: 2rem;
  font-weight: bold;
}

.pdp-product-description-container {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-top-width: 0;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
  border-color: #e5e7eb;
  border-style: solid;
}

.pdp-product-description {
  height: fit-content;
  overflow: hidden;
  white-space: pre-wrap;
  margin-top: 20px;
  line-height: 1.25rem;
}

.pdp-store-container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 16px;
}

.pdp-store-wrapper {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.pdp-store-body {
  margin-left: 0px;
  margin-right: 0px;
}

.pdp-store-name {
  word-break: break-all;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: bold;
}

.pdp-store-status-online {
  font-size: 14px;
  line-height: 18px;
  color: #6D7588;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.pdp-store-name-container {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -4px;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.pdp-store-action-container {
  display: flex;
  gap: 4px;
  padding-bottom: 1.25rem;

  border-top-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
  border-color: #e5e7eb;
  border-style: solid;
}

.pdp-store-action-kunjungi {
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.25rem;
  background-color: white;
  /* background-color: rgb(30, 209, 51); */
  color: rgb(30, 209, 51);
  border: 1px solid rgb(30, 209, 51);
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 150px;
  cursor: pointer;
  font-weight: bold;
}

.pdp-store-action-follow {
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.25rem;
  /* background-color: rgb(30, 209, 51); */
  color: white;
  background-color: rgb(30, 209, 51);
  border: 1px solid rgb(30, 209, 51);
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 150px;
  cursor: pointer;
  font-weight: bold;
}